<div [routerLink]="['/flights', flight.id]" class="well hoverwell thumbnail">
    <h2>{{flight?.name}}</h2>
    <div>Date: {{flight?.date}}</div>
    <div>From: {{flight?.from}}</div>
    <div>To: {{flight?.to}}</div>
    <div [ngClass]="{red: flight?.time === '10 AM', bold: flight?.time === '10 AM'}" [ngSwitch]="flight?.time">Time:
        {{flight?.time}}
        <span *ngSwitchCase="'11 AM'">(Delayed)</span>
        <span *ngSwitchCase="'10 AM'">(Before Time)</span>
        <span *ngSwitchDefault>(On Time)</span>
    </div>
    <div>Price: {{flight?.price | currency:$}}</div>
    <div [hidden]="!flight?.location">
        <span>Location: {{flight?.location?.address}},</span>
        <span>&nbsp;</span>
        <span class="pad-left">{{flight?.location?.city}}, {{flight?.location?.country}}</span>
    </div>
    <button class="btn btn-primary" (click)="book()">Book</button>
</div>