<div class="container">
    <img [src]="flight?.imageUrl" [alt]="flight?.name" class="flight-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{flight?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>Date:</strong> {{flight?.date}}</div>
            <div><strong>Time:</strong> {{flight?.time}}</div>
            <div><strong>Price:</strong> ${{flight?.price}}</div>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Address:</strong><br />
                {{flight?.location?.address}}<br />
                {{flight?.location?.city}}, {{flight?.location?.country}}
            </address>
        </div>
    </div>
</div>